

p {
  margin: 0.3em 0em
}

body {
  margin: 5em;
  font-size: 15px;
}

.drag {
  margin: 2em 0;
}

.drag > * {
  position: absolute;
  z-index: 5;
  transition: all 50ms;
  cursor: grab;
}


#alsohi {
  left:50vw;
  top:20vh;
}